<app-navbar></app-navbar>
<div class="container-fluid block">
  <div class="card mb-2" style="max-width: 540px;" *ngFor="let item of items">
    <div class="row g-0">
      <div class="col-md-4">
        <a [href]="imagePath+item.image"><img [src]="imagePath+item.image" class="img-fluid" alt="..."></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><b>WHAT: </b>{{item.name}}</h5>
          <p class="card-text"><b>WHERE: </b>{{item.location}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
