.block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  background-color: black;
  padding: 2em;
}
.card{
  border-radius: 20px;
  color: rgba(253, 202, 202, 0.783);
  box-shadow: 0 10px 80px #131313c4;
  transition: 0.5s;
  align-content: space-between;
  margin: 40px;
  background-color: rgba(1, 67, 72, 0.825);
}
.card:hover{
  color:white;
  background-color: rgb(1, 67, 72);
  box-shadow: 0 30px 90px #f9efefe4;
  transform: translateY(-1em);
  border-radius: 20px;
}
img{
  width: 450px;
  height: 280px;
  border-radius: 20px !important;
  padding: 0.5em;
}
