.block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  background-color: black;
  padding: 3em;
}
.card{
  border-radius: 20px;
  color: rgba(253, 202, 202, 0.783);
  box-shadow: 0 10px 80px #131313c4;
  transition: 0.5s;
  align-content: space-between;
  margin: 40px;
  background-color: rgba(1, 67, 72, 0.825);
}
.card:hover{
  color:white;
  background-color: rgb(1, 67, 72);
  box-shadow: 0 90px 100px #f9efefe4;
  transform: translateY(-1em);
  border-radius: 20px;
}
img{
  width: 450px;
  height: 280px;
  border-radius: 20px !important;
  padding: 0.5em;
}
.paginate{
  text-align: center;
  color:beige;
  margin:auto;
}
.paginate:hover{
  color:black;
  background-color: rgba(108, 0, 0, 0.899) !important;
  border-radius:10px;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: rgba(87, 0, 0, 0.782);
  border-radius: 10px;
  font-size: 1.5rem;
}
