<app-navbar></app-navbar>
<div class="container-fluid block">
<div class="card" style="width: 18rem;" *ngFor="let item of items | paginate: { itemsPerPage: 8, currentPage: page, totalItems:totalLength }">
  <a routerLink="/detail/{{item.id}}"><img class="card-img-top img-fluid" [src]="imagePath+item.image" alt="Crochet image" style="height: 420px"></a>
  <div class="card-body">
    <h5 class="card-title"><b>WHAT: </b>{{item.name}}</h5>
    <p class="card-text"><b>WHERE: </b>{{item.location}}</p>
  </div>
</div>
<div class="paginate">
  <pagination-controls class="my-pagination" (pageChange)="onPageChange($event)"></pagination-controls>
</div>
<app-footer></app-footer>
