<app-sale></app-sale>
<div class = "products block">
  <div class = "prod-display">
    <h1 class="hovering"><a class="fixlink" routerLink="/new">New and Featured Products</a></h1>
    <div class = "prod-row row justify-content-center">
      <div class = " container-flex prod-view col-md-2" *ngFor="let newCollection of newCollections; let id;">
        <div class = "prod-img">
          <img [src]="imagePath+newCollection.image">
        </div>
        <div class = "prod-info">
          <p class = "price">
            <a class="fixlinkred" [routerLink]="detailPath+newCollection.id">
              <span><b>Name: </b>{{newCollection.name}}</span><br>
              <span><b>Price: </b> $ {{newCollection.price}}</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
