<footer class="container-fluid footer-section">
      <div class="footer-content pt-5 pb-5">
          <div class="row">
              <div class="col-xl-6 col-lg-6 mb-50">
                  <div class="footer-widget">
                    <a [innerHTML]="brand" class="navbar-brand" routerLink="/"></a>
                  </div>
              </div>
              <div class="col-6 ">
                  <div class="footer-widget">
                      <div class="footer-widget-heading">
                          <h3>Subscribe</h3>
                      </div>
                      <div class="subscribe-form">
                          <form action="#">
                              <input type="text" placeholder="Email Address">
                              <button><i class="fab fa-telegram-plane"></i></button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  <div class="copyright-area">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="copyright-text">
                      <p>Copyright &copy; 2022, All Right Reserved</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
