/* You can add global styles to this file, and also import other style files */
body {
  display: inline-block;
  margin: auto;
  padding: 0px;
  border: solid lightgrey 1px;
  background-image: url("assets/images/background.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}
/* background image link: */
/* https://www.pexels.com/photo/two-white-yarn-roll-beside-gold-scissor-4601048/ */
