body {
  background-image: url("assets/images/background.jpg");
  background-color: rgba(250, 236, 239, 0.768);

  background-size: cover;
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
  margin-top: 6em;
}
