<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a [innerHTML]="brand" class="navbar-brand" routerLink=""></a>
    <button class="navbar-toggler" type="button" (click)="jumbotronExample.toggle()" aria-controls="jumbotronExample" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div mdbCollapse #jumbotronExample="mdbCollapse" class="collapse navbar-collapse" id="jumbotronExample" style="justify-content: flex-end;">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li><span class="borderb"><a class="fixlink" routerLink="">Home</a></span></li>
        <li><span class="borderb"><a class="fixlink" routerLink="collections">Collections</a></span></li>
      </ul>
    </div>
  </div>
</nav>
