<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a [innerHTML]="brand" class="navbar-brand" routerLink="/"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="centerLinks">
        <li><span class="borderb"><a class="fixlink" routerLink="/">Home</a></span></li>
        <li><span class="borderb"><a class="fixlink" routerLink="/collections">Collections</a></span></li>
      </ul>
    </div>
  </div>
</nav>
